In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/Users/ranjit/Downloads/Social_Network_Ads.csv")

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [6]:
# we have to identifed on the basis of given information if the customer is going to purchase the ad or not
df["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [7]:
#splitting the input and the target column
x=df.iloc[:,1:4]
y=df.iloc[:,4:]

In [8]:
x

     Gender  Age  EstimatedSalary
0      Male   19            19000
1      Male   35            20000
2    Female   26            43000
3    Female   27            57000
4      Male   19            76000
..      ...  ...              ...
395  Female   46            41000
396    Male   51            23000
397  Female   50            20000
398    Male   36            33000
399  Female   49            36000

[400 rows x 3 columns]

In [9]:
y

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [10]:
#splitting the data into train and test 

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=56)

print(x_train.shape,x_test.shape)
print(y_train.shape,y_test.shape)

(280, 3) (120, 3)
(280, 1) (120, 1)

In [11]:
x_train

     Gender  Age  EstimatedSalary
313  Female   49           141000
18     Male   46            28000
40   Female   27            17000
54   Female   27            58000
189    Male   28            32000
..      ...  ...              ...
142    Male   35            59000
122  Female   40            75000
235    Male   46            79000
192    Male   29            43000
341    Male   35            75000

[280 rows x 3 columns]

In [12]:
#Encoding gender column
from sklearn.preprocessing import OneHotEncoder

encoder=OneHotEncoder(drop="first",sparse_output=False)

one_hot_encoded=encoder.fit_transform(x_train[["Gender"]])
one_hot_encoded
x_train_trans=pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(["Gender"]),index=x_train["Gender"].index)
x_train_trans

     Gender_Male
313          0.0
18           1.0
40           0.0
54           0.0
189          1.0
..           ...
142          1.0
122          0.0
235          1.0
192          1.0
341          1.0

[280 rows x 1 columns]

In [14]:

one_hot_encoded=encoder.fit_transform(x_test[["Gender"]])
one_hot_encoded
x_test_trans=pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(["Gender"]),index=x_test["Gender"].index)
x_test_trans

     Gender_Male
79           0.0
112          1.0
164          0.0
185          1.0
180          1.0
..           ...
198          1.0
172          0.0
99           0.0
351          1.0
24           1.0

[120 rows x 1 columns]

In [16]:
# merging the encoded feature into train and test data.

x_train["Gender"]=x_train_trans
x_test["Gender"]=x_test_trans

In [17]:
x_train

     Gender  Age  EstimatedSalary
313     0.0   49           141000
18      1.0   46            28000
40      0.0   27            17000
54      0.0   27            58000
189     1.0   28            32000
..      ...  ...              ...
142     1.0   35            59000
122     0.0   40            75000
235     1.0   46            79000
192     1.0   29            43000
341     1.0   35            75000

[280 rows x 3 columns]

In [18]:
x_test

     Gender  Age  EstimatedSalary
79      0.0   26            17000
112     1.0   38            61000
164     0.0   33            69000
185     1.0   31            66000
180     1.0   26            16000
..      ...  ...              ...
198     1.0   26            80000
172     0.0   26           118000
99      0.0   28            37000
351     1.0   37            75000
24      1.0   46            23000

[120 rows x 3 columns]

In [21]:
# deciding the value of k

# sqaure root of count of training data points
import numpy as np
np.sqrt(x_train.shape[0])

np.float64(16.73320053068151)

In [23]:
#model building
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=17)
knn.fit(x_train,y_train)

/opt/anaconda3/lib/python3.13/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=17)

In [24]:
# prediction:

y_pred=knn.predict(x_test)

In [25]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0])

In [26]:
y_test

     Purchased
79           0
112          0
164          0
185          0
180          0
..         ...
198          0
172          0
99           0
351          0
24           1

[120 rows x 1 columns]

In [27]:
# finding the accuracy of the model

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7916666666666666